#form {
    background: var(--lightest-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--m-space);
    padding: var(--m-space);
    width: 35rem;
}

#form .item {
    flex: 1;
    margin-bottom: var(--xs-space);
}

#form label {
    color: #3e3e3e;
    display: block;
    margin: 5px 0;
}

#form .block {
    display: block;
}

#form .textarea {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    height: 35rem;
    margin-bottom: var(--s-space);
    width: 90%;
    padding: 2px 1rem;
    transition: var(--transition);
}

#form .textarea:focus {
    border: 1px solid var(--darker-color);
    outline: transparent;
}

#form .textarea:hover {
    box-shadow: var(--box-shadow-hover);
}


#form .form-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
